/* Base styles + layout */
html,
body
input {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #EBEBD3;
  background: #DA4167;
  background: linear-gradient(0deg, #DA4167 15%, #73537e 90%);
  flex: 1;
}

.home {
  margin: 0 50px;
}

.home * {
  z-index: 1;
  position: relative;
}



/* Particles canvas */
.particles-js-canvas-el {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}



/* Headers */
h1 {
  font-family: 'Chivo', Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 60px;
  transform: skewY(-5deg);
  font-size: 52px;
  text-shadow: 4px 4px #083D77;
  text-transform: uppercase;
  position: relative;
  z-index: 999 !important;
}



/* Form fields */
form {
  max-width: 310px;
  margin: 0 auto;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 15px 10px;
}

input[type="text"],
select {
  width: 100%;
  margin-bottom: 20px;
  background: white;
  border: none;
  border-radius: 5px;
}

select {
  height: 46px;
  border: none;
  padding-left: 6px;
}

button,
input[type="submit"] {
  padding: 12px 20px 8px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: #083D77;
  color: #EBEBD3;
  transition: background 0.2s ease;
}

button:hover,
input[type="submit"]:hover {
  background: #0f4e94;
  cursor: pointer;
}



/* Bounce transition */
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


/* Moon experiment */
body:after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vw;
  display: block;
  background: #bdd2c3;
  background: linear-gradient(180deg, #c3dbca 0%, #8f97a0 8%);
  border-radius: 100%;
  transform: translateY(180%) scale(2.75);
  box-shadow: -1px -1px 6px 3px rgba(0,0,0,0.08), -1px -1px 6px rgba(0,0,0,0.3);
}

body:before {
  content: '';
  position: fixed;
  bottom: -30px;
  left: 50px;
  width: 100px;
  height: 100px;
  display: block;
  background: #ff945c;
  border-radius: 100%;
  box-shadow: -1px 0px 6px rgba(0,0,0,0.4);
}
@media only screen and (min-width: 700px) {
  body:before {
    width: 150px;
    height: 150px;
    left: 100px;
  }
}
@media only screen and (min-width: 1000px) {
  body:before {
    width: 200px;
    height: 200px;
    left: 200px;
  }
}


#rocket {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 13px;
  transform: rotate(-40deg);
  left: 55%;
  fill: #9f9f9f;
  z-index: -1;
}

@media only screen and (min-width: 500px) {
  #rocket {
    bottom: 22px;
  }
}
@media only screen and (min-width: 600px) {
  #rocket {
    bottom: 30px;
  }
}
@media only screen and (min-width: 700px) {
  #rocket {
    bottom: 40px;
  }
}
@media only screen and (min-width: 800px) {
  #rocket {
    bottom: 48px;
  }
}
@media only screen and (min-width: 900px) {
  #rocket {
    bottom: 60px;
  }
}
@media only screen and (min-width: 1100px) {
  #rocket {
    bottom: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  #rocket {
    bottom: 80px;
  }
}
@media only screen and (min-width: 1300px) {
  #rocket {
    bottom: 90px;
  }
}
@media only screen and (min-width: 1500px) {
  #rocket {
    bottom: 100px;
  }
}
@media only screen and (min-width: 1700px) {
  #rocket {
    bottom: 110px;
  }
}
@media only screen and (min-width: 1900px) {
  #rocket {
    bottom: 120px;
  }
}
@media only screen and (min-width: 2100px) {
  #rocket {
    bottom: 130px;
  }
}


#rocket.takeOff {
  animation: rocket-fly 2s forwards;
}
#rocket.land {
  animation: rocket-land 3s forwards;
}
@keyframes rocket-fly {
  0% {
    transform: translate(0%, 0%) rotate(-40deg);
    opacity: 1;
    fill: #364475;
  }
  50% {
    transform: translate(8%, -100%) rotate(0deg);
    opacity: 1;
  }
  55% {
    fill: #EBEBD3;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(60vw, -70vh) rotate(0deg);
    opacity: 0;
  }
}

@keyframes rocket-land {
  0% {
    transform: translate(0%, -70vh) rotate(-40deg);
    fill: #EBEBD3;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  80% {
    fill: #EBEBD3;
    transform: translate(0%, 0%) rotate(-40deg);
  }
  100% {
    fill: #364475;
  }
}
