html,
body
input {
  box-sizing: border-box;
}

input,
button {
  transition: background 0.2s ease;
}

body {
  background: #DA4167;

}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #EBEBD3;
}

.particles-js-canvas-el {
  min-height: 100vh;
}

.home {
  max-width: 350px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 40px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}

input[type="text"],
select {
  margin-bottom: 20px;
}

select {
  width: 100%;
  height: 36px;
  border: none;
}

button,
input[type="submit"] {
  background: #083D77;
  color: #EBEBD3;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 18px;
}

button:hover,
input[type="submit"]:hover {
  background: #0f4e94;
  cursor: pointer;
}
